In [152]:
import pandas as pd
from sklearn.utils import shuffle

In [2]:
folder = 'C:/Users/oryan/Documents/esac-project/all-gz-data'

### Extracting Intercting Galaxies from GZ1

In [3]:
gz1_merger = pd.read_csv(f'{folder}/darg_mergers.csv')

In [4]:
gz1_full_w_spec = pd.read_csv(f'{folder}/GalaxyZoo1_DR_table2.csv')

In [5]:
gz1_full_no_spec = pd.read_csv(f'{folder}/GalaxyZoo1_DR_table3.csv')

In [6]:
gz1_conf = pd.read_csv(f'{folder}/GalaxyZoo1_DR_table4.csv')

In [7]:
gz1_full = pd.concat([gz1_full_w_spec, gz1_full_no_spec])

In [8]:
gz1_full

,OBJID,RA,DEC,NVOTE,P_EL,P_CW,P_ACW,P_EDGE,P_DK,P_MG,P_CS,P_EL_DEBIASED,P_CS_DEBIASED,SPIRAL,ELLIPTICAL,UNCERTAIN
0,587727178986356823,00:00:00.41,-10:22:25.7,59,0.610,0.034,0.000,0.153,0.153,0.051,0.186,0.610,0.186,0.0,0.0,1.0
1,587727227300741210,00:00:00.74,-09:13:20.2,18,0.611,0.000,0.167,0.222,0.000,0.000,0.389,0.203,0.797,1.0,0.0,0.0
2,587727225153257596,00:00:01.03,-10:56:48.0,68,0.735,0.029,0.000,0.147,0.074,0.015,0.176,0.432,0.428,0.0,0.0,1.0
3,587730774962536596,00:00:01.38,+15:30:35.3,52,0.885,0.019,0.000,0.058,0.019,0.019,0.077,0.885,0.077,0.0,1.0,0.0
4,587731186203885750,00:00:01.55,-00:05:33.3,59,0.712,0.000,0.000,0.220,0.068,0.000,0.220,0.640,0.290,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225263,587727227837612044,23:59:56.59,-08:42:57.7,28,0.357,0.000,0.000,0.107,0.536,0.000,0.107,NaN,NaN,NaN,NaN,NaN
225264,587727227300741434,23:59:57.01,-09:11:34.1,56,0.696,0.018,0.000,0.036,0.250,0.000,0.054,NaN,NaN,NaN,NaN,NaN
225265,587731187277627641,23:59:58.29,+00:42:08.7,23,0.435,0.000,0.043,0.000,0.043,0.478,0.043,NaN,NaN,NaN,NaN,NaN
225266,587731187277627640,23:59:58.80,+00:42:06.3,54,0.389,0.000,0.000,0.019,0.037,0.556,0.019,NaN,NaN,NaN,NaN,NaN
225267,587727225153257673,23:59:59.35,-10:59:43.4,30,0.767,0.000,0.033,0.000,0.200,0.000,0.033,NaN,NaN,NaN,NaN,NaN

No measure of whether interacting or not in the main galaxy zoo 1 sample!! Going to have to use the gz1_merger set.

## Extracting gz1 Mergers

In [9]:
gz1_merger

,object1,object2,morph1,morph2,comments,stage,u_app_1,g_app_1,r_app_1,i_app_1,...,ra1,ra2,dec1,dec2,vote1,vote2,kmass1,kmass2,kmass_err1,kmass_err2
0,587722952231026744,587722952231026688,s,s,NaN,2,17.7589,16.6386,16.2097,15.7835,...,238.20399,238.20058,-0.526557,-0.522263,0.469424,-9999.0,10.61540,11.15720,0.046269,0.065783
1,587722952769405128,587722952769405184,s,s,NaN,2,19.3509,18.1812,17.5159,17.1270,...,241.71770,241.71928,-0.005231,-0.004142,0.681166,-9999.0,10.28380,9.72723,0.031353,0.034741
2,587722981738741881,587722981738741888,su,s,NaN,2,18.9199,17.0999,16.1878,15.7310,...,176.99812,176.99890,-1.110019,-1.105873,0.559194,-9999.0,11.14030,11.26200,0.050555,0.044521
3,587722982277906482,587722982277906432,s,s,NaN,2,19.8744,18.4667,17.6467,17.1835,...,182.12173,182.12321,-0.688024,-0.688083,0.458490,-9999.0,10.46310,10.06150,0.032929,0.051605
4,587722982278430881,587722982278430848,s,s,NaN,2,18.7153,17.5442,17.0627,16.7034,...,183.43852,183.43906,-0.834565,-0.836874,0.611347,-9999.0,9.78224,9.20314,0.048509,0.036987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2998,588848901513805999,588848901513805952,s,s,NaN,3,19.2239,17.4888,16.6363,16.0272,...,158.38812,158.38777,1.109762,1.110550,0.540359,-9999.0,10.68580,9.67788,0.059252,0.119370
2999,588848901517934883,588848901517934848,s,s,NaN,2,19.2925,17.7343,16.9711,16.4979,...,167.85045,167.85008,1.051458,1.050158,0.579493,-9999.0,10.69570,10.20580,0.043136,0.084892
3000,588848901521146107,588848901521146112,s,s,NaN,2,19.7780,18.3720,17.7714,17.3950,...,175.06577,175.06740,1.146516,1.148113,0.468185,-9999.0,9.89279,9.89614,0.058062,0.026601
3001,588848901525864567,588848901525864576,s,s,NaN,2,18.3574,16.8904,16.0914,15.6628,...,185.82925,185.83125,1.065603,1.064839,0.460876,-9999.0,11.07650,9.72644,0.035251,0.060189
3002,588848901528158408,588848901528158464,s,s,NaN,2,19.4235,17.9436,17.3961,17.0860,...,191.16826,191.16716,1.146171,1.146353,0.403337,-9999.0,10.03680,10.11370,0.062857,0.042550

In [77]:
gz1_primaries = (
    gz1_merger[['object1','ra1','dec1']]
    .rename(columns={'object1':'zooniverse_id','ra1':'RA','dec1':'Dec'})
    .assign(interaction = 1)
)
gz1_secondaries = (
    gz1_merger[['object2','ra2','dec2']]
    .rename(columns={'object2':'zooniverse_id','ra2':'RA','dec2':'Dec'})
    .assign(interaction = 1)
)

In [78]:
gz1_mergers = pd.concat([gz1_primaries, gz1_secondaries])

In [79]:
gz1_mergers

           zooniverse_id         RA       Dec  interaction
0     587722952231026744  238.20399 -0.526557            1
1     587722952769405128  241.71770 -0.005231            1
2     587722981738741881  176.99812 -1.110019            1
3     587722982277906482  182.12173 -0.688024            1
4     587722982278430881  183.43852 -0.834565            1
...                  ...        ...       ...          ...
2998  588848901513805952  158.38777  1.110550            1
2999  588848901517934848  167.85008  1.050158            1
3000  588848901521146112  175.06740  1.148113            1
3001  588848901525864576  185.83125  1.064839            1
3002  588848901528158464  191.16716  1.146353            1

[6006 rows x 4 columns]

## Extracting GZ2 Mergers

In [12]:
gz2_spec_only = pd.read_csv(f'{folder}/zoo2MainSpecz.csv')

In [13]:
gz2_phot_only = pd.read_csv(f'{folder}/zoo2MainPhotoz.csv')

In [14]:
gz2_full = pd.concat([gz2_phot_only,gz2_spec_only])

In [15]:
gz2_red = gz2_full[['dr7objid','total_classifications','ra','dec','t08_odd_feature_a24_merger_weighted_fraction']]

In [16]:
gz2_red.total_classifications.value_counts()

44    28661
45    28503
43    24983
42    20676
46    19022
      ...
17        1
79        1
76        1
74        1
16        1
Name: total_classifications, Length: 61, dtype: int64

In [17]:
gz2_reduced = (
    gz2_red
    .query('total_classifications >= 20')
    .query('t08_odd_feature_a24_merger_weighted_fraction > 0.95')
    .rename(columns={'dr7objid':'zooniverse_id','ra':'RA','dec':'Dec','t08_odd_feature_a24_merger_weighted_fraction':'interaction_votes'})
    .drop(columns='total_classifications')
)

In [18]:
gz2_mergers = (
    gz2_reduced
    .assign(interaction = 1)
    .drop(columns = 'interaction_votes')
)

In [19]:
gz2_mergers

             zooniverse_id         RA        Dec  interaction
40      587722982298616130  229.44543  -0.782971            1
193     587724648172814526  156.01222  -3.161008            1
232     587724648173535350  157.67862  -3.177210            1
375     587724648710668491  158.31583  -2.815232            1
883     587725041162846337  173.62831  -1.838566            1
...                    ...        ...        ...          ...
243028  587739506081857672  188.58698  32.708256            1
243098  588297864726773892  165.49544  46.028190            1
243106  587729228760809578  235.59995  57.570380            1
243141  587741817854623943  146.10522  20.896954            1
243308  588017114515505318  210.14435  43.913437            1

[1904 rows x 4 columns]

## Galaxy Zoo: Hubble

In [20]:
gzh_all = pd.read_csv(f'{folder}/gz_hubble_main.csv')

In [21]:
gzh_reduced = gzh_all[['zooniverse_id','RA','DEC', 'total_count', 't08_odd_feature_a06_merger_weighted_fraction']]

In [23]:
gzh_queried = (
    gzh_reduced
    .query('total_count > 25')
    .query('t08_odd_feature_a06_merger_weighted_fraction > 0.95')
    .drop(columns=['total_count','t08_odd_feature_a06_merger_weighted_fraction'])
    .assign(interaction = 1)
    .rename(columns={'DEC' : 'Dec'})
)

In [24]:
gzh_queried

       zooniverse_id          RA        Dec  interaction
180       AGZ0007xrh  188.964920  62.219002            1
194       AGZ0007xrv  188.967101  62.198359            1
317       AGZ0007xva  188.994246  62.181959            1
354       AGZ0007xwb  188.999647  62.231372            1
363       AGZ0007xwk  189.001876  62.163819            1
...              ...         ...        ...          ...
111573    AHZ40005d8   53.373838 -27.624108            1
111973    AHZ40005oc   53.200148 -27.613888            1
113582    AHZ40006x1   53.128217 -27.953462            1
113639    AHZ40008m5   52.999558 -27.908689            1
113683    AHZ40008nd   52.892995 -27.664176            1

[450 rows x 4 columns]

## Galaxy Zoo Candels

In [27]:
gzc_full = pd.read_csv(f'{folder}/gz_candels_table_2_main_release.csv')

In [32]:
gzc_reduced = gzc_full[['ID','RA','Dec','num_classifications','t16_merging_tidal_debris_a0_merging_weighted_frac']]

In [33]:
gzc_reduced

,ID,RA,Dec,num_classifications,t16_merging_tidal_debris_a0_merging_weighted_frac
0,COS_1,150.056820,2.173421,38.0,0.000000
1,COS_10,150.056860,2.174979,39.0,0.000000
2,COS_1000,150.084970,2.191447,76.0,0.028963
3,COS_10000,150.082170,2.299318,39.0,0.000000
4,COS_10002,150.203340,2.299440,36.0,0.000000
...,...,...,...,...,...
49550,UDS_9993,34.385551,-5.220046,36.0,0.041667
49551,UDS_9994,34.399144,-5.220006,36.0,0.000000
49552,UDS_9995,34.297177,-5.219938,24.0,0.266667
49553,UDS_9997,34.319162,-5.219902,38.0,0.042618
49554,UDS_9999,34.405709,-5.220026,38.0,0.585539

In [34]:
gzc_mergers = (
    gzc_reduced
    .query('num_classifications > 20')
    .query('t16_merging_tidal_debris_a0_merging_weighted_frac > 0.95')
    .rename(columns={'ID' : 'zooniverse_id'})
    .drop(columns=['num_classifications', 't16_merging_tidal_debris_a0_merging_weighted_frac'])
    .assign(interaction = 1)
)

In [75]:
gzc_mergers

      zooniverse_id          RA        Dec  interaction
541        COS_1071  150.109590   2.188564            1
1896      COS_12544  150.195130   2.325093            1
3408      COS_14608  150.097550   2.354718            1
3613      COS_14883  150.134710   2.348523            1
4286      COS_15752  150.145590   2.362330            1
6602      COS_18932  150.109200   2.405010            1
6672      COS_19020  150.194050   2.406743            1
8406      COS_21341  150.072440   2.432938            1
10006     COS_23370  150.092430   2.467039            1
10252     COS_23675  150.116480   2.463653            1
10508     COS_23982  150.184850   2.475382            1
10554     COS_24038  150.114330   2.465313            1
15473     COS_36704  150.105400   2.467690            1
16928      COS_5490  150.086510   2.244032            1
17012      COS_5603  150.086970   2.241751            1
17055      COS_5655  150.087390   2.244409            1
17089      COS_5696  150.089280   2.244678            1
17267      COS_5938  150.152860   2.249411            1
19428      COS_8945  150.145620   2.284700            1
19465      COS_8992  150.121590   2.287126            1
25269     GDS_18366   53.044814 -27.752686            1
27441      GDS_2175   53.239746 -27.897839            1
35285     UDS_10103   34.355052  -5.221287            1
39832     UDS_17905   34.267983  -5.177386            1
46760      UDS_5109   34.246581  -5.250013            1
47098        UDS_57   34.408990  -5.276843            1
49065      UDS_9197   34.435566  -5.225821            1

## Galaxy Zoo DeCALS

In [37]:
gzd_full = pd.read_csv(f'{folder}/gz_decals_volunteers_c.csv')

In [40]:
gzd_full

,iauname,ra,dec,redshift,elpetro_absmag_r,sersic_nmgy_r,petro_th50,petro_th90,petro_theta,upload_group,...,spiral-arm-count_cant-tell_fraction,merging_total-votes,merging_none,merging_none_fraction,merging_minor-disturbance,merging_minor-disturbance_fraction,merging_major-disturbance,merging_major-disturbance_fraction,merging_merger,merging_merger_fraction
0,J112953.88-000427.4,172.474526,-0.074281,0.124142,-21.253342,167.262880,1.835066,5.414066,4.202472,pre_active,...,1.0,80,67,0.8375,8,0.100,5,0.0625,0,0.000000
1,J104325.29+190335.0,160.856533,19.060441,0.049088,-21.775410,2941.729200,4.405412,14.320828,10.757237,targeted,...,NaN,35,0,0.0000,0,0.000,0,0.0000,2,0.057143
2,J104629.54+115415.1,161.623135,11.904197,0.092906,-19.947397,125.076324,4.719870,13.139816,9.726173,active_baseline,...,0.0,5,4,0.8000,1,0.200,0,0.0000,0,0.000000
3,J082950.68+125621.8,127.461190,12.939386,0.066619,-19.800629,173.592030,2.929065,7.224961,6.528331,active_baseline,...,NaN,8,7,0.8750,1,0.125,0,0.0000,0,0.000000
4,J122056.00-015022.0,185.233342,-1.839340,0.070042,-19.013256,88.826880,2.521897,6.496888,5.054409,active_baseline,...,0.0,5,5,1.0000,0,0.000,0,0.0000,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253281,J144017.17+234347.3,220.071553,23.729825,0.135569,-21.286007,125.146090,2.160871,6.818261,5.128151,active_baseline,...,NaN,0,0,NaN,0,NaN,0,NaN,0,NaN
253282,J133751.46+253954.0,204.464417,25.665029,0.031913,-18.737637,342.469800,2.009910,5.407866,4.545066,active_baseline,...,NaN,2,2,1.0000,0,0.000,0,0.0000,0,0.000000
253283,J130734.26+061155.7,196.892784,6.198813,0.137835,-21.575876,221.358960,2.213671,7.401498,5.253455,active_baseline,...,NaN,5,5,1.0000,0,0.000,0,0.0000,0,0.000000
253284,J163830.70+315116.7,249.627951,31.854632,0.059837,-21.012257,749.883670,17.295427,43.632080,37.860394,active_baseline,...,NaN,0,0,NaN,0,NaN,0,NaN,0,NaN
253285,J141631.85+185904.1,214.132744,18.984493,0.079122,-21.265265,62908.094000,72.359800,96.698135,105.420820,active_baseline,...,NaN,0,0,NaN,0,NaN,0,NaN,0,NaN

In [58]:
gzd_red = (
    gzd_full[['iauname','ra','dec','merging_total-votes','merging_none_fraction','merging_minor-disturbance_fraction','merging_major-disturbance_fraction','merging_merger_fraction']]
    .rename(columns={'merging_total-votes':'total_votes', 'merging_minor-disturbance_fraction':'minor_dist_frac','merging_major-disturbance_fraction':'major_dist_frac','merging_merger_fraction':'merging_frac'})
)

In [59]:
gzd_mergers = (
    gzd_red
    .query('total_votes > 20')
    .query('merging_none_fraction <= 0.05')
)

In [60]:
gzd_mergers

,iauname,ra,dec,total_votes,merging_none_fraction,minor_dist_frac,major_dist_frac,merging_frac
1,J104325.29+190335.0,160.856533,19.060441,35,0.0,0.0,0.0,0.057143
9,J135942.73+010637.3,209.928065,1.110345,36,0.0,0.0,0.0,0.194444
14,J143735.76-001343.8,219.399041,-0.228832,31,0.0,0.0,0.0,0.193548
27,J145144.92-011208.3,222.937212,-1.202340,33,0.0,0.0,0.0,0.242424
31,J105147.92+115901.7,162.949726,11.983837,34,0.0,0.0,0.0,0.088235
...,...,...,...,...,...,...,...,...
252932,J135719.08+010054.6,209.329517,1.015219,33,0.0,0.0,0.0,0.030303
252952,J120543.78+010443.9,181.432439,1.078858,36,0.0,0.0,0.0,0.083333
253016,J121429.82-015501.4,183.624301,-1.917055,35,0.0,0.0,0.0,0.142857
253063,J142630.13+005041.9,216.625576,0.844952,33,0.0,0.0,0.0,0.030303
253207,J152029.26+001004.8,230.121949,0.168037,33,0.0,0.0,0.0,0.060606

In [65]:
gzd_mergers_check = gzd_mergers.assign(interaction_frac = gzd_mergers.apply(lambda row: row.minor_dist_frac + row.major_dist_frac + row.merging_frac, axis=1))

In [70]:
gzd_final = (
    gzd_mergers_check
    .query('interaction_frac > 0.95')
    .rename(columns={'iauname' : 'zooniverse_id', 'ra': 'RA', 'dec' : 'Dec'})
    .drop(columns=['total_votes','merging_none_fraction','minor_dist_frac','major_dist_frac','merging_frac','interaction_frac'])
    .assign(interaction = 1)
)

In [71]:
gzd_final

              zooniverse_id          RA        Dec  interaction
2521    J122240.76+150222.3  185.669858  15.039546            1
2602    J083859.30+260813.0  129.747019  26.136991            1
5461    J121445.37+135830.1  183.690992  13.975114            1
6479    J013428.29-001133.5   23.617933  -0.192677            1
13153   J091551.77+133510.8  138.965748  13.586329            1
...                     ...         ...        ...          ...
241589  J122334.06+200439.5  185.891673  20.076815            1
244383  J121453.50+101749.6  183.722976  10.297159            1
247106  J120707.05+020351.8  181.779407   2.064402            1
248211  J114806.42+094441.4  177.026735   9.744812            1
251701  J122928.17+092107.0  187.367286   9.352124            1

[151 rows x 4 columns]

## Counting Contributions

In [72]:
gz1_contr = len(gz1_mergers)
gz2_contr = len(gz2_mergers)
gzh_contr = len(gzh_queried)
gzc_contr = len(gzc_mergers)
gzd_contr = len(gzd_final)
total_gals = gz1_contr + gz2_contr + gzh_contr + gzc_contr + gzd_contr

In [73]:
total_gals

8538

## Combining All

In [90]:
all_int_found = (
    pd.concat([gz1_mergers, gz2_mergers, gzh_queried, gzc_mergers, gzd_final])
    .reset_index()
    .drop(columns='index')
)

In [92]:
all_int_found.to_csv(f'{folder}/all-interaction.csv')

## Getting Non-Interacting

### GZ1

In [86]:
gz1_full

,OBJID,RA,DEC,NVOTE,P_EL,P_CW,P_ACW,P_EDGE,P_DK,P_MG,P_CS,P_EL_DEBIASED,P_CS_DEBIASED,SPIRAL,ELLIPTICAL,UNCERTAIN
0,587727178986356823,00:00:00.41,-10:22:25.7,59,0.610,0.034,0.000,0.153,0.153,0.051,0.186,0.610,0.186,0.0,0.0,1.0
1,587727227300741210,00:00:00.74,-09:13:20.2,18,0.611,0.000,0.167,0.222,0.000,0.000,0.389,0.203,0.797,1.0,0.0,0.0
2,587727225153257596,00:00:01.03,-10:56:48.0,68,0.735,0.029,0.000,0.147,0.074,0.015,0.176,0.432,0.428,0.0,0.0,1.0
3,587730774962536596,00:00:01.38,+15:30:35.3,52,0.885,0.019,0.000,0.058,0.019,0.019,0.077,0.885,0.077,0.0,1.0,0.0
4,587731186203885750,00:00:01.55,-00:05:33.3,59,0.712,0.000,0.000,0.220,0.068,0.000,0.220,0.640,0.290,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225263,587727227837612044,23:59:56.59,-08:42:57.7,28,0.357,0.000,0.000,0.107,0.536,0.000,0.107,NaN,NaN,NaN,NaN,NaN
225264,587727227300741434,23:59:57.01,-09:11:34.1,56,0.696,0.018,0.000,0.036,0.250,0.000,0.054,NaN,NaN,NaN,NaN,NaN
225265,587731187277627641,23:59:58.29,+00:42:08.7,23,0.435,0.000,0.043,0.000,0.043,0.478,0.043,NaN,NaN,NaN,NaN,NaN
225266,587731187277627640,23:59:58.80,+00:42:06.3,54,0.389,0.000,0.000,0.019,0.037,0.556,0.019,NaN,NaN,NaN,NaN,NaN
225267,587727225153257673,23:59:59.35,-10:59:43.4,30,0.767,0.000,0.033,0.000,0.200,0.000,0.033,NaN,NaN,NaN,NaN,NaN

In [138]:
gz1_non = (
    gz1_full[['OBJID','RA','DEC']]
    .sample(gz1_contr)
    .rename(columns={'OBJID':'zooniverse_id','DEC':'Dec'})
    .assign(interaction = 0)
)

In [139]:
gz1_non

             zooniverse_id           RA          Dec  interaction
221699  587746209983889506  10:53:17.82  +09:15:25.9            0
536176  587729158981026051  15:12:31.63  +03:34:56.4            0
71791   587738618094616790  10:25:57.10  +34:54:28.0            0
497756  587742610802999486  14:40:11.12  +14:23:00.0            0
520410  587733429234958473  14:59:36.86  +53:34:51.6            0
...                    ...          ...          ...          ...
2887    588015509274624163  00:47:51.56  +00:10:41.2            0
365737  587733195696308307  12:49:07.24  +54:21:35.1            0
425968  588011124654669923  13:41:35.23  +61:50:00.7            0
64391   587738410326032392  10:06:31.79  +12:29:24.6            0
461528  587742189379584110  14:10:51.90  +21:39:14.4            0

[6006 rows x 4 columns]

### GZ2

In [135]:
gz2_non_reduced = (
    gz2_red
    .query('total_classifications >= 20')
    .query('t08_odd_feature_a24_merger_weighted_fraction < 0.05')
    .rename(columns={'dr7objid':'zooniverse_id','ra':'RA','dec':'Dec','t08_odd_feature_a24_merger_weighted_fraction':'interaction'})
    .drop(columns='total_classifications')
    .assign(interaction = 0)
    .sample(gz2_contr)
)

### GZH

In [100]:
gzh_non_queried = (
    gzh_reduced
    .query('total_count > 25')
    .query('t08_odd_feature_a06_merger_weighted_fraction > 0.05')
    .drop(columns=['total_count','t08_odd_feature_a06_merger_weighted_fraction'])
    .assign(interaction = 0)
    .rename(columns={'DEC' : 'Dec'})
    .sample(gzh_contr)
)

In [101]:
gzh_non_queried

       zooniverse_id          RA        Dec  interaction
64892     AHZ2000ywd  150.172879   2.399217            0
8911      AGZ00084i0   53.130523 -27.709573            0
11525     AHZ10000a9  215.292731  53.236845            0
52701     AHZ2000phq  150.324917   2.283357            0
107504    AHZ4000287   53.044831 -27.865604            0
...              ...         ...        ...          ...
36494     AHZ2000czj  149.934276   1.792320            0
71502     AHZ20013zz  150.691981   2.582772            0
62427     AHZ2000wzw  150.468588   2.390225            0
109859    AHZ400041m   52.951018 -27.724933            0
18935     AHZ1000603  215.437577  53.191381            0

[450 rows x 4 columns]

### GZC

In [108]:
gzc_non_mergers = (
    gzc_reduced
    .query('num_classifications > 20')
    .query('t16_merging_tidal_debris_a0_merging_weighted_frac < 0.05')
    .rename(columns={'ID' : 'zooniverse_id'})
    .drop(columns=['num_classifications', 't16_merging_tidal_debris_a0_merging_weighted_frac'])
    .assign(interaction = 0)
    .sample(gzc_contr)
)

### GZD

In [112]:
gzd_non_mergers = (
    gzd_red
    .query('total_votes > 20')
    .query('merging_none_fraction >= 0.95')
)

In [116]:
gzd_non_mergers

,iauname,ra,dec,total_votes,merging_none_fraction,minor_dist_frac,major_dist_frac,merging_frac
43,J140358.36-014755.9,210.993220,-1.798897,32,0.968750,0.031250,0.0,0.0
377,J124516.27+014740.2,191.317858,1.794510,37,0.972973,0.027027,0.0,0.0
614,J150049.44-021607.2,225.206052,-2.268690,32,0.968750,0.031250,0.0,0.0
874,J105426.64+055727.7,163.611022,5.957697,35,0.971429,0.028571,0.0,0.0
980,J115040.09+092559.7,177.667081,9.433267,32,0.968750,0.031250,0.0,0.0
...,...,...,...,...,...,...,...,...
252126,J134844.62+030143.0,207.185950,3.028605,33,0.969697,0.030303,0.0,0.0
252171,J101640.78+081550.9,154.169952,8.264158,33,0.969697,0.030303,0.0,0.0
252301,J101316.15+044939.6,153.317284,4.827694,35,1.000000,0.000000,0.0,0.0
252362,J093634.60+034428.4,144.144199,3.741241,29,0.965517,0.034483,0.0,0.0
252941,J121039.79+200857.3,182.665798,20.149266,33,0.969697,0.030303,0.0,0.0

In [125]:
gzd_non_final = (
    gzd_non_mergers
    .query('merging_none_fraction > 0.95')
    .rename(columns={'iauname' : 'zooniverse_id', 'ra': 'RA', 'dec' : 'Dec'})
    .drop(columns=['total_votes','merging_none_fraction','minor_dist_frac','major_dist_frac','merging_frac'])
    .assign(interaction = 0)
    .sample(gzd_contr)
)

In [127]:
gzd_non_final

              zooniverse_id          RA        Dec  interaction
17675   J111114.45+061759.0  167.810251   6.299770            0
146709  J105928.82+074135.5  164.870123   7.693188            0
241306  J114134.81+101202.7  175.395039  10.200794            0
11645   J134211.32+020559.0  205.547160   2.099735            0
87506   J131136.40+013922.4  197.901695   1.656211            0
...                     ...         ...        ...          ...
148640  J121933.43+113623.2  184.889345  11.606474            0
3895    J100216.94+050556.0  150.570621   5.098907            0
75576   J094445.72+025508.7  146.190526   2.919082            0
193356  J100746.12+074729.3  151.942211   7.791485            0
64257   J141719.16+023304.7  214.329881   2.551323            0

[151 rows x 4 columns]

## Combining Non-Interacting Fraction

In [140]:
all_non_found = pd.concat([gz1_non, gz2_non_reduced, gzh_non_queried, gzc_non_mergers, gzd_non_final])

In [141]:
all_non_found

              zooniverse_id           RA          Dec  interaction
221699   587746209983889506  10:53:17.82  +09:15:25.9            0
536176   587729158981026051  15:12:31.63  +03:34:56.4            0
71791    587738618094616790  10:25:57.10  +34:54:28.0            0
497756   587742610802999486  14:40:11.12  +14:23:00.0            0
520410   587733429234958473  14:59:36.86  +53:34:51.6            0
...                     ...          ...          ...          ...
148640  J121933.43+113623.2      184.889      11.6065            0
3895    J100216.94+050556.0      150.571      5.09891            0
75576   J094445.72+025508.7      146.191      2.91908            0
193356  J100746.12+074729.3      151.942      7.79148            0
64257   J141719.16+023304.7       214.33      2.55132            0

[8538 rows x 4 columns]

In [142]:
all_non_found.to_csv(f'{folder}/all-not-interactions.csv')

## Creating the Manifest

In [149]:
training_set_manifest = (
    pd.concat([all_int_found, all_non_found])
    .reset_index()
    .drop(columns='index')
)

In [150]:
training_set_manifest

             zooniverse_id       RA         Dec  interaction
0       587722952231026744  238.204   -0.526557            1
1       587722952769405128  241.718 -0.00523149            1
2       587722981738741881  176.998    -1.11002            1
3       587722982277906482  182.122   -0.688024            1
4       587722982278430881  183.439   -0.834565            1
...                    ...      ...         ...          ...
17071  J121933.43+113623.2  184.889     11.6065            0
17072  J100216.94+050556.0  150.571     5.09891            0
17073  J094445.72+025508.7  146.191     2.91908            0
17074  J100746.12+074729.3  151.942     7.79148            0
17075  J141719.16+023304.7   214.33     2.55132            0

[17076 rows x 4 columns]

In [153]:
training_set_shuffled = shuffle(training_set_manifest)

In [155]:
training_set_shuffled

             zooniverse_id           RA          Dec  interaction
17039  J092905.34+013804.3      142.272      1.63453            0
12520   588007003656290595  16:18:17.99  +45:59:19.9            0
7334    587739608619614291      164.018      30.5122            1
1126    587733605337399408      239.184      46.3446            1
14743   587735349111226530      183.079      15.4831            0
...                    ...          ...          ...          ...
8048            AHZ2000536      150.048      1.73868            1
3321    587727178988191872      4.22738     -10.3957            1
13140   588011217536090334  16:05:34.76  +45:37:20.0            0
1897    587739507158745151      197.141      33.0781            1
4340    587735695371337856       190.44      56.7324            1

[17076 rows x 4 columns]

In [159]:
training_set_shuffled.query('zooniverse_id == "AHZ2000536"')

     zooniverse_id       RA      Dec  interaction
8048    AHZ2000536  150.048  1.73868            1

In [160]:
training_set_shuffled.to_csv(f'{folder}/full-manifest.csv')

In [187]:
training_set_shuffled

             zooniverse_id           RA          Dec  interaction
17039  J092905.34+013804.3      142.272      1.63453            0
12520   588007003656290595  16:18:17.99  +45:59:19.9            0
7334    587739608619614291      164.018      30.5122            1
1126    587733605337399408      239.184      46.3446            1
14743   587735349111226530      183.079      15.4831            0
...                    ...          ...          ...          ...
8048            AHZ2000536      150.048      1.73868            1
3321    587727178988191872      4.22738     -10.3957            1
13140   588011217536090334  16:05:34.76  +45:37:20.0            0
1897    587739507158745151      197.141      33.0781            1
4340    587735695371337856       190.44      56.7324            1

[17076 rows x 4 columns]

## Splitting into Training and Validation

In [180]:
validation_set = training_set_shuffled.iloc[int(0.80*len(training_set_shuffled)):]
training_set = training_set_shuffled.iloc[:int(0.80*len(training_set_shuffled))]

In [181]:
int(0.20*len(training_set_shuffled))

3415

In [182]:
training_set

             zooniverse_id           RA          Dec  interaction
17039  J092905.34+013804.3      142.272      1.63453            0
12520   588007003656290595  16:18:17.99  +45:59:19.9            0
7334    587739608619614291      164.018      30.5122            1
1126    587733605337399408      239.184      46.3446            1
14743   587735349111226530      183.079      15.4831            0
...                    ...          ...          ...          ...
10905   587742061053411623  09:12:48.51  +15:26:36.9            0
14681   587736584968339666        224.6      34.7781            0
14647   587722983352172680      183.416     0.164523            0
13168   587731679043846285  08:47:46.99  +39:29:38.5            0
7498    587732701791715503      159.215      6.15169            1

[13660 rows x 4 columns]

In [183]:
validation_set

            zooniverse_id           RA          Dec  interaction
11844  587739720843067590  15:30:57.68  +21:22:15.3            0
7638   587732484903731377      207.987      48.8507            1
2455   588015508218183914      51.5872    -0.665374            1
9443   587738410325115002  09:58:08.38  +12:07:56.1            0
3016   587722982842630912      245.872    -0.365122            1
...                   ...          ...          ...          ...
8048           AHZ2000536      150.048      1.73868            1
3321   587727178988191872      4.22738     -10.3957            1
13140  588011217536090334  16:05:34.76  +45:37:20.0            0
1897   587739507158745151      197.141      33.0781            1
4340   587735695371337856       190.44      56.7324            1

[3416 rows x 4 columns]

In [184]:
training_set.to_csv(f'{folder}/all-gz-training-set.csv')
validation_set.to_csv(f'{folder}/all-gz-validation-set.csv')