In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r'C:\Users\oryan\Documents\zoobot_new\manifests\gz-mergers-coords-all-62.csv',index_col=0)

In [6]:
df

       Prim_RA   Prim_DEC     Names      Sec_RA    Sec_DEC
0   204.970333   0.839844    Arp240  204.990208   0.830667
1    30.957167  14.738644    Arp290   30.937292  14.709056
2   144.433333   2.760164    Arp142  144.437875   2.746886
3    32.352333 -10.136006    Arp318   32.337292 -10.133158
4     4.708583 -10.361625    Arp256    4.711833 -10.376950
..         ...        ...       ...         ...        ...
57  350.267917 -69.215000  ESO77-14         NaN        NaN
58  208.067917   2.103028   NGC5331         NaN        NaN
59  287.724650  73.410167   NGC6786         NaN        NaN
60   35.775000  39.366111    Arp273         NaN        NaN
61  180.472083 -18.876944    Arp244         NaN        NaN

[62 rows x 5 columns]

In [13]:
df_prim = (
    df[['Names','Prim_RA','Prim_DEC']]
    .rename(columns={'Prim_RA' : 'RA', 'Prim_DEC':'Dec'})
    .assign(Names_tmp = df.Names.apply(lambda x: x.strip() + '_Prim'))
    .drop(columns='Names')
    .rename(columns={'Names_tmp' : 'Names'})
)

In [14]:
df_prim

            RA        Dec          Names
0   204.970333   0.839844    Arp240_Prim
1    30.957167  14.738644    Arp290_Prim
2   144.433333   2.760164    Arp142_Prim
3    32.352333 -10.136006    Arp318_Prim
4     4.708583 -10.361625    Arp256_Prim
..         ...        ...            ...
57  350.267917 -69.215000  ESO77-14_Prim
58  208.067917   2.103028   NGC5331_Prim
59  287.724650  73.410167   NGC6786_Prim
60   35.775000  39.366111    Arp273_Prim
61  180.472083 -18.876944    Arp244_Prim

[62 rows x 3 columns]

In [20]:
df_sec = (
    df[['Names','Sec_RA','Sec_DEC']]
    .rename(columns={'Sec_RA' : 'RA', 'Sec_DEC':'Dec'})
    .dropna()
    .assign(Names_tmp = df.Names.apply(lambda x: x.strip() + '_Sec'))
    .drop(columns='Names')
    .rename(columns={'Names_tmp' : 'Names'})
)

In [21]:
df_sec

            RA        Dec              Names
0   204.990208   0.830667         Arp240_Sec
1    30.937292  14.709056         Arp290_Sec
2   144.437875   2.746886         Arp142_Sec
3    32.337292 -10.133158         Arp318_Sec
4     4.711833 -10.376950         Arp256_Sec
5   322.242759  11.366503       UGC11751_Sec
6   203.039833  62.700150         Arp104_Sec
7   238.287042  54.148961          Heart_Sec
8   141.035250  49.248600         Arp285_Sec
9   173.456624  53.125675         Arp214_Sec
10  185.741167  10.549156        NGC4320_Sec
11  190.953875  54.896161        NGC4669_Sec
12  148.293255   7.873482         Arp255_Sec
13  122.814667  25.178858          Arp82_Sec
14  205.419167  55.673850         Arp239_Sec
15  214.267750  36.575297         Arp199_Sec
16  199.215802  14.416907          Arp57_Sec
17  206.212483  13.927621        Pair_18_Sec
18  125.886000  21.338092         Arp247_Sec
19  219.462625  30.479775         Arp241_Sec
20  179.433772  32.293604         Arp313_Sec
21  163.073125  30.072575         Arp107_Sec
22  174.933125  31.931269         Arp294_Sec
23  241.390792  17.593578         Arp172_Sec
24  224.251667  24.606700         Arp302_Sec
25  191.545833  30.722247         Arp242_Sec
26  236.722123  17.872323          Arp72_Sec
27  241.118167  14.782103         Arp101_Sec
28  128.000875  19.201558          Arp58_Sec
29  167.804583  28.696225         Arp105_Sec
30  181.439792  31.079081          Arp97_Sec
31  179.634792  27.528022        NGC4017_Sec
32  183.904042  28.169525         Arp106_Sec
33  139.182112  18.954844        NGC2802_Sec
34  167.477542  24.258194         Arp301_Sec
35  130.697875  14.264986          Arp89_Sec
36  175.185875  22.446742          Arp87_Sec
37  166.831875  18.429781         Arp191_Sec
38  141.935250  12.288225         Arp237_Sec
39  157.072500  79.813003         Arp181_Sec
40  198.883653  62.124648         Arp238_Sec
41  181.162292  52.954642  MCG+09-20-082_Sec
42  221.317833  38.728642         Arp297_Sec
43  221.342708  38.780089        NGC5753_Sec
44  222.866333   9.321914         Arp173_Sec
45  209.646375  37.453289          Arp84_Sec
46  255.029000  23.127511       UGC10650_Sec
47    0.371458  31.441961         Arp112_Sec
48  218.776583   5.356467         Arp274_Sec
49    1.683208  -6.635019         Arp146_Sec
50  116.726000  39.015025         Arp143_Sec
51   20.863542  30.771967          Arp70_Sec
52  238.392917  18.603722         Arp218_Sec
53    1.067292   3.376900    Violin_Clef_Sec

In [22]:
df_export = pd.concat([df_prim, df_sec])

In [23]:
df_export

            RA        Dec            Names
0   204.970333   0.839844      Arp240_Prim
1    30.957167  14.738644      Arp290_Prim
2   144.433333   2.760164      Arp142_Prim
3    32.352333 -10.136006      Arp318_Prim
4     4.708583 -10.361625      Arp256_Prim
..         ...        ...              ...
49    1.683208  -6.635019       Arp146_Sec
50  116.726000  39.015025       Arp143_Sec
51   20.863542  30.771967        Arp70_Sec
52  238.392917  18.603722       Arp218_Sec
53    1.067292   3.376900  Violin_Clef_Sec

[116 rows x 3 columns]

In [25]:
df_export.to_csv('C:/Users/oryan/Documents/zoobot_new/manifests/gz-mergers-coords-all-seperated.csv')